apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-2
  namespace: my-app-2-stage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app-2
  template:
    metadata:
      labels:
        app: my-app-2
    spec:
      containers:
      - name: my-app-2
        image: gcr.io/google-samples/hello-app:1.0
        ports:
        - containerPort: 8080
