apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: myapp-stage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
      - name: myapp
        image: gcr.io/google-samples/hello-app:1.0
        ports:
        - containerPort: 8080
